{% extends "booking/base.html" %}

{% load staticfiles %}
{% load bootstrap4 %}
{% block body_block %}

  <div class="login wrapper">

    <div class="col-md-8 mx-auto text-center">
      <h5>{% bootstrap_messages %}</h5>
      {% if form.errors %}

         {% for error in form.non_field_errors %}
             <div class="alert alert-danger">
                 <strong>{{ error|escape }}</strong>
             </div>
         {% endfor %}
     {% endif %}
   </div>

    {% if  user.is_authenticated %}
      <div class="col-md-8 mx-auto">
        {% bootstrap_alert 'Theres an Active Login Session' alert_type='warning' %}
      </div>
    {% else %}
    <div class="col-md-4 mx-auto">
      <h4 class="title text-center">Login</h4>
      <form  action="{% url 'booking:login' %}" method="post">
        {% csrf_token %}
        {% for field in form %}
          {% bootstrap_field field %}
        {% endfor %}
        <div class="form-group">
          <input class="btn btn-info form-control" type="submit" name="" value="Login ">
        </div>
        <div class="form-group text-center">
          <p >Dont have an account? <a href="{% url 'booking:register'%}">Register</a> </p>
          <p >Forgot Password? <a href="{% url 'password_reset'%}">Reset</a> </p>
        </div>
      </form>
    </div>

    <hr>
    <div class="row col-md-4 mx-auto" >
      <div class="form-row mb-2">
        <label class="col-md-4" for="profile-username">Username:</label>
        <input type="text" id="profile-username" class="col-md-3 form-control" value="pep" readonly>
        <button type="button" class="btn btn-secondary btn-clipboard col-md-2" data-toggle="tooltip" data-placement="top" title="copy to clipboard" data-clipboard-target="#profile-username" >
          <i class="fa fa-clipboard"></i>
        </button>

      </div>
      <div class="form-row mb-2">
        <label class="col-md-4" for="profile-password">Password:</label>
        <input type="text" id="profile-password" class="col-md-3 form-control" value="pass" readonly>
        <button type="button"class="btn btn-secondary btn-clipboard col-md-2" data-toggle="tooltip" data-placement="top" title="copy to clipboard" data-clipboard-target="#profile-password" >
           <i class="fa fa-clipboard"></i>
        </button>
      </div>
  </div>
  {% endif %}
  </div>

{% endblock %}
