{% extends "booking/base.html" %}

{% load staticfiles %}
{% load bootstrap4 %}
{% block body_block %}

  <div class="wrapper">
    <div class="container">
      <div class="row">
        <div class="col-md-4 mx-auto">
          <h5 class="title text-center">Forgotten Password</h5>
         <form  method="post">
           {% csrf_token %}

           {% for field in form %}
             {% bootstrap_field field form_group_class='form-row' label_class='col-md-2' field_class='col-md-10' %}
           {% endfor %}

           <div class="form-row">
             <input type="submit" id="profile-last-name" class="btn btn-info mt-2 form-control" value="Submit"></input>
           </div>
         </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
