{% extends "booking/base.html" %}

{% load staticfiles %}
{% load bootstrap4 %}
{% block body_block %}

  <div class="login wrapper">

    <div class="col-md-8 mx-auto text-center">
      <h5>{% bootstrap_messages %}</h5>
      {% if form.errors %}

         {% for error in form.non_field_errors %}
             <div class="alert alert-danger">
                 <strong>{{ error|escape }}</strong>
             </div>
         {% endfor %}
     {% endif %}
   </div>

    {% if validlink %}
      <div class="col-md-5 mx-auto">
        <h4 class="title text-center">Reset Password</h4>
        <form class="" method="post">
          {% csrf_token %}
          {% for field in form %}
            {% bootstrap_field field form_group_class='form-row' label_class='col-md-4' field_class='col-md-8' %}
          {% endfor %}
          <div class="form-group">
            <input class="btn btn-info form-control" type="submit" name="" value="Reset Password">
          </div>
        </form>
      </div>
    {% else %}
      <div class="col-md-8 mx-auto">
        <div class="alert alert-warning">
          <p>
          <strong>Expired Link! </strong> The password reset link was invalid, possibly because it has already been used.
            Please request a new password reset.
          </p>
        </div>
    </div>
    {% endif %}

  </div>

{% endblock %}
