{% extends "booking/base.html" %}

{% load staticfiles %}
{% load bootstrap4 %}
{% block body_block %}
  <div class="wrapper">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto">
          <div class="alert alert-success">
            <p >
              <strong>Email Send : </strong> We've emailed you instructions for setting your password, if an account exists with the email you entered.
              You should receive them shortly.
            </p>
            <p >
              If you don't receive an email, please make sure you've entered the address you registered with,
              and check your spam folder.
            </p>
          </div>
        </div>
      </div>
    </div>

  </div>
{% endblock %}
